+{% extends 'base.html' %}

{% block title %}¿Qué es Ficheros{% endblock %}

{% block content %}
  <p>Ficheros - una base de datos bibliográfica es un proyecto final para un curso de introducción a Python. Se trata de una base de datos para bibliografía, de código abierto, con el fin de ser replicada a la interna de proyectos de investigación (personales, grupales o institucionales) con el fin de facilitar la cooperación ante el avance del trabajo remoto y la colaboración internacional e interinstitucional. Fue desarrollada por Federico Segredo Simonetti, periodista cultural y estudiante de grado de la Facultad de Humanidades y Ciencias de la Comunicación de la Universidad de la República de Uruguay.</p>
  <p>Puedes acceder al proyecto de GitHub <a href="https://github.com/fjsegredo/Ficheros">aquí.</a></p>
<p>Puedes ver un video del funcionamiento de la página <a href="https://youtu.be/KNeX5hiBTew">aquí:</a></p>
  {% endblock %}