{% extends 'base.html' %}

{% block title %}Ficheros - una base de datos bibliográfica{% endblock %}

{% block content %}
  <h1>Bienvenido a Ficheros, una base de datos para hacer fichas bibliográficas.</h1>
  <h2>Para contribuir debes:</h2>
  <p>1. Crear un usuario</p>
  <p>2. Loguearte con tu nombre de usuario y contraseña</p>
  <h2>Una vez hecho eso puedes:</h2>
  <p>1. Agregar libros, capítulos o artículos a la base de datos.</p>
  <p>2. Ver los libros que existen en nuestra base.</p>
  <p>3. Fichar cualquier libro, capítulo o artículo. Cada ficha debe tener un texto, y puedes adjuntarle una imagen. Las posibilidades son infinitas.</p>
  <p>4. Ver todas las fichas hechas a un libro/capítulo/artículo particular.</p>
  <p>5. Hacer búsquedas de libros, capítulos y artículos filtradas según ciertos parámetros</p>
  <p>6. Hacer búsquedas de fichas según el contenido.</p>
  <p>7. Editar tu usuario, agregar información personal a tu perfil, y cambiar tu contraseña.</p>
  <p>8. Buscar otros usuarios.</p>
{% endblock %}
