{% extends 'base.html' %}

{% block title %}Ficheros - una base de datos bibliográfica{% endblock %}

{% block content %}
  <h1>Bienvenido a Ficheros, una base de datos de bibliográfica</h1>
  <h2>Para contribuir debes:</h2>
  <p>1.Crear un usuario</p>
  <p>2.Loguearte con tu nombre de usuario y contraseña</p>
  <h2>Una vez hecho eso puedes:</h2>
  <p>1.Fichar bibliografía. Para ver un ejemplo de ficha haz clic <a href='#'>aquí CARGAR EJEMPLO DE FICHA</a></p>
  <p>2.Leer y comentar fichas existentes</p>
  <p>4.Hacer búsquedas filtradas en el corpus de fichas</p>
  <p>5.Mensajear con otros contribuyentes.</p>
{% endblock %}
