{% extends 'base.html' %}

{% block content %}
  {% load static %}
  <h2>Perfil de {{ usuario.username }}</h2>
  <div class="profile">
    <div class="left-card">
      {% if usuario.avatar %}
        <div class="avatar">
          <img src="{{ usuario.avatar.image.url }}" alt="Avatar" width="250" height="250">
        </div>
      {% else %}
        <div class="avatar">
          <img src="{% static 'media/defaultavatar.jpg' %}" alt="Default Avatar" width="250" height="auto">
        </div>
      {% endif %}
      <h3>{{ usuario.username }}</h3>
    </div>
    <div class="right-card-container">
      <div class="right-card">
        <p>Nombre: {{ usuario.first_name|default:"Desconocido" }}</p>
        <p>Apellido: {{ usuario.last_name|default:"Desconocido" }}</p>
        <p>Correo electrónico: {{ usuario.email|default:"Desconocido" }}</p>
        <p>Fecha de nacimiento: {{ usuario.perfil.fecha_nacimiento|default:"Desconocida" }}</p>
        <p>País de nacimiento: {{ usuario.perfil.pais_nacimiento|default:"Desconocido" }}</p>
        <p>Residencia: {{ usuario.perfil.residencia|default:"Desconocida" }}</p>
        <p>Institución: {{ usuario.perfil.institucion|default:"Desconocida" }}</p>
        <p>Cargo: {{ usuario.perfil.cargo|default:"Desconocido" }}</p>
      </div>
    </div>
  </div>

  {% if usuario.libro_set.all %}
  <h3>Contribuciones de {{ usuario.username }}</h3>
  {% for libro in usuario.libro_set.all %}
  <div class="bottom-card-container">
  <div class="bottom-card">
      <ul>
        {% if libro.es_articulo %}
          <li><a href='{% url 'ver_articulo' id=libro.id %}'>{{ libro|title }}</a></li>
        {% elif libro.es_capitulo %}
          <li><a href='{% url 'ver_capitulo' id=libro.id %}'>{{ libro|title }}</a></li>
        {% else %}
          <li><a href='{% url 'ver_libro' id=libro.id %}'>{{ libro|title }}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
    {% endfor %}
{% endif %}

  
  {% if usuario.ficha_set.all %}
  <h3>Fichas de {{ usuario.username }}:</h3>
 
    {% for ficha in usuario.ficha_set.all %}
    <div class="bottom-card-container">
    <div class="bottom-card">
        <ul>
          <li>{{ ficha|title }}</li>
          {% if ficha.imagen %}
          <li><img src="{{ ficha.imagen.url }}" alt="imagen de ficha" style="width: 400px; height: auto"></li>
        {% endif %}        
          <li>{{ ficha.texto }}</li>
        </ul>
      </div>
  </div>
      {% endfor %}
  {% endif %}

  <style>
    .profile {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;
    }

    .left-card {
      border: 3px solid #61386e;
      background-color: #3d064d;
      padding: 20px;
      width: 250px;
      align-self: flex-start;
    }

    .right-card-container {
      margin-top: -50px; /* Ajusta el valor según sea necesario */
      flex-grow: 1;
    }

    .right-card {
      border: 3px solid #61386e;
      background-color: #3d064d;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .right-card p {
      text-align: left;
    }

    .avatar img {
      width: 100%;
      height: auto;
      max-width: 250px;
      max-height: 250px;
    }

    .bottom-card-container {
      margin-top: 20px; /* Ajusta el valor según sea necesario */
    }

    .bottom-card {
      color: white;
      border: 3px solid #61386e;
      background-color: #3d064d;
      padding: 20px;
    }
    .bottom-card a,
.bottom-card a:visited {
  color: white;
}

  </style>
{% endblock %}

